* text=auto !eol
.ci/.travis.pre -text
.ci/appveyor.pre -text
.coin-or/projDesc.xml -text
/.travis.yml -text
/AUTHORS -text
/Dependencies -text
/INSTALL -text
/LICENSE -text
/README -text
/appveyor.yml -text
/bonmin-uninstalled.pc.in -text
/bonmin.pc.in -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
doc/BONMIN_ReferenceManual.hpp -text
doc/Makefile -text
doc/bonmin.sty -text
doc/genHtml.sh -text
doc/htrick.sty -text
doc/ltrick.sty -text
doc/option_pages/Head.tex -text
doc/option_pages/bonmin.sty -text
doc/option_pages/genHtml.sh -text
doc/option_pages/genOptionsDocs.sh -text
doc/option_pages/htrick.sty -text
doc/option_pages/ltrick.sty -text
doc/option_pages/options_list_TEMPLATE.tex -text
doc/option_pages/options_list_bonmin_content.tex -text
doc/option_pages/options_list_filter_content.tex -text
doc/option_pages/options_list_ipopt_content.tex -text
doxydoc/doxygen.conf.in -text
examples/CppExample/Mybonmin.opt -text
examples/OptionDocGen/DocGen.cpp -text
examples/OptionDocGen/Makefile.in -text
examples/OptionDocGen/MyTMINLP.cpp -text
examples/OptionDocGen/MyTMINLP.hpp -text
examples/amplExamples/toy.mod -text
experimental/Bcp/BM.par -text
experimental/Bcp/BM_lp.cpp -text
experimental/Bcp/BM_lp_branch.cpp -text
experimental/Bcp/BM_tm.cpp -text
experimental/Bcp/README -text
experimental/Bcp/ampl_bcp.patch -text
experimental/RobotBonmin/BonNWayChoose.cpp -text
experimental/RobotBonmin/BonNWayChoose.hpp -text
experimental/RobotBonmin/BonNWayObject.cpp -text
experimental/RobotBonmin/BonNWayObject.hpp -text
experimental/RobotBonmin/Makefile.am -text
experimental/RobotBonmin/Makefile.in -text
experimental/RobotBonmin/Robot-bonmin.cpp -text
experimental/RobotBonmin/RobotSetup.cpp -text
experimental/RobotBonmin/RobotSetup.hpp -text
experimental/Separable/BonHeuristicInnerApproximation.cpp -text
experimental/Separable/BonHeuristicInnerApproximation.hpp -text
experimental/Separable/BonOuterDescription.cpp -text
experimental/Separable/BonOuterDescription.hpp -text
experimental/Separable/Makefile.am -text
experimental/Separable/Makefile.in -text
experimental/Separable/Sepa.cpp -text
experimental/Separable/SepaHeuristicInnerApproximation.cpp -text
experimental/Separable/SepaHeuristicInnerApproximation.hpp -text
experimental/Separable/SepaSetup.cpp -text
experimental/Separable/SepaSetup.hpp -text
experimental/Separable/SepaTMINLP2OsiLP.cpp -text
experimental/Separable/SepaTMINLP2OsiLP.hpp -text
/install-sh -text
/ltmain.sh -text
/missing -text
src/Algorithms/Ampl/BonAmplSetup.cpp -text
src/Algorithms/Ampl/BonAmplSetup.hpp -text
src/Algorithms/Ampl/Makefile.am -text
src/Algorithms/Ampl/Makefile.in -text
src/Algorithms/BonBabSetupBase.cpp -text
src/Algorithms/BonBabSetupBase.hpp -text
src/Algorithms/BonBonminSetup.cpp -text
src/Algorithms/BonBonminSetup.hpp -text
src/Algorithms/BonCbcLpStrategy.cpp -text
src/Algorithms/BonCbcLpStrategy.hpp -text
src/Algorithms/BonSolverHelp.cpp -text
src/Algorithms/BonSolverHelp.hpp -text
src/Algorithms/BonSubMipSolver.cpp -text
src/Algorithms/BonSubMipSolver.hpp -text
src/Algorithms/Branching/BonChooseVariable.cpp -text
src/Algorithms/Branching/BonChooseVariable.hpp -text
src/Algorithms/Branching/BonCurvBranchingSolver.cpp -text
src/Algorithms/Branching/BonCurvBranchingSolver.hpp -text
src/Algorithms/Branching/BonLpBranchingSolver.cpp -text
src/Algorithms/Branching/BonLpBranchingSolver.hpp -text
src/Algorithms/Branching/BonPseudoCosts.cpp -text
src/Algorithms/Branching/BonPseudoCosts.hpp -text
src/Algorithms/Branching/BonQpBranchingSolver.cpp -text
src/Algorithms/Branching/BonQpBranchingSolver.hpp -text
src/Algorithms/Branching/BonRandomChoice.cpp -text
src/Algorithms/Branching/BonRandomChoice.hpp -text
src/Algorithms/Branching/Makefile.am -text
src/Algorithms/Branching/Makefile.in -text
src/Algorithms/Makefile.am -text
src/Algorithms/Makefile.in -text
src/Algorithms/OaGenerators/BonDummyHeuristic.cpp -text
src/Algorithms/OaGenerators/BonDummyHeuristic.hpp -text
src/Algorithms/OaGenerators/BonEcpCuts.cpp -text
src/Algorithms/OaGenerators/BonEcpCuts.hpp -text
src/Algorithms/OaGenerators/BonFpForMinlp.cpp -text
src/Algorithms/OaGenerators/BonFpForMinlp.hpp -text
src/Algorithms/OaGenerators/BonOACutGenerator2.cpp -text
src/Algorithms/OaGenerators/BonOACutGenerator2.hpp -text
src/Algorithms/OaGenerators/BonOAMessages.cpp -text
src/Algorithms/OaGenerators/BonOAMessages.hpp -text
src/Algorithms/OaGenerators/BonOaDecBase.cpp -text
src/Algorithms/OaGenerators/BonOaDecBase.hpp -text
src/Algorithms/OaGenerators/BonOaFeasChecker.cpp -text
src/Algorithms/OaGenerators/BonOaFeasChecker.hpp -text
src/Algorithms/OaGenerators/BonOaNlpOptim.cpp -text
src/Algorithms/OaGenerators/BonOaNlpOptim.hpp -text
src/Algorithms/OaGenerators/Makefile.am -text
src/Algorithms/OaGenerators/Makefile.in -text
src/Algorithms/QuadCuts/BonArraysHelpers.hpp -text
src/Algorithms/QuadCuts/BonLinearCutsGenerator.cpp -text
src/Algorithms/QuadCuts/BonLinearCutsGenerator.hpp -text
src/Algorithms/QuadCuts/BonOuterApprox.cpp -text
src/Algorithms/QuadCuts/BonOuterApprox.hpp -text
src/Algorithms/QuadCuts/BonQuadCut.cpp -text
src/Algorithms/QuadCuts/BonQuadCut.hpp -text
src/Algorithms/QuadCuts/BonQuadRow.cpp -text
src/Algorithms/QuadCuts/BonQuadRow.hpp -text
src/Algorithms/QuadCuts/BonTMINLP2Quad.cpp -text
src/Algorithms/QuadCuts/BonTMINLP2Quad.hpp -text
src/Algorithms/QuadCuts/BonTMINLPLinObj.cpp -text
src/Algorithms/QuadCuts/BonTMINLPLinObj.hpp -text
src/Algorithms/QuadCuts/BonTMatrix.cpp -text
src/Algorithms/QuadCuts/BonTMatrix.hpp -text
src/Algorithms/QuadCuts/Makefile.am -text
src/Algorithms/QuadCuts/Makefile.in -text
src/Algorithms/QuadCuts/next -text
src/CbcBonmin/BonBabInfos.cpp -text
src/CbcBonmin/BonBabInfos.hpp -text
src/CbcBonmin/BonCbc.cpp -text
src/CbcBonmin/BonCbc.hpp -text
src/CbcBonmin/BonDiver.cpp -text
src/CbcBonmin/BonDiver.hpp -text
src/CbcBonmin/BonGuessHeuristic.cpp -text
src/CbcBonmin/BonGuessHeuristic.hpp -text
src/CbcBonmin/Heuristics/BonDummyPump.cpp -text
src/CbcBonmin/Heuristics/BonDummyPump.hpp -text
src/CbcBonmin/Heuristics/BonFixAndSolveHeuristic.cpp -text
src/CbcBonmin/Heuristics/BonFixAndSolveHeuristic.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDive.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDive.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveFractional.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveFractional.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIP.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIP.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIPFractional.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIPFractional.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIPVectorLength.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveMIPVectorLength.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveVectorLength.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicDiveVectorLength.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicFPump.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicFPump.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicLocalBranching.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicLocalBranching.hpp -text
src/CbcBonmin/Heuristics/BonHeuristicRINS.cpp -text
src/CbcBonmin/Heuristics/BonHeuristicRINS.hpp -text
src/CbcBonmin/Heuristics/BonLocalSolverBasedHeuristic.cpp -text
src/CbcBonmin/Heuristics/BonLocalSolverBasedHeuristic.hpp -text
src/CbcBonmin/Heuristics/BonMilpRounding.cpp -text
src/CbcBonmin/Heuristics/BonMilpRounding.hpp -text
src/CbcBonmin/Heuristics/BonPumpForMinlp.cpp -text
src/CbcBonmin/Heuristics/BonPumpForMinlp.hpp -text
src/CbcBonmin/Heuristics/Makefile.am -text
src/CbcBonmin/Heuristics/Makefile.in -text
src/CbcBonmin/bonminamplinterface.pc.in -text
src/Interfaces/Ampl/BonSolReader.cpp -text
src/Interfaces/Ampl/BonSolReader.hpp -text
src/Interfaces/Ampl/Makefile.in -text
src/Interfaces/BonAuxInfos.cpp -text
src/Interfaces/BonAuxInfos.hpp -text
src/Interfaces/BonExitCodes.hpp -text
src/Interfaces/BonMsgUtils.hpp -text
src/Interfaces/BonOsiTMINLPInterface.cpp -text
src/Interfaces/BonOsiTMINLPInterface.hpp -text
src/Interfaces/BonRegisteredOptions.cpp -text
src/Interfaces/BonRegisteredOptions.hpp -text
src/Interfaces/BonStrongBranchingSolver.cpp -text
src/Interfaces/BonStrongBranchingSolver.hpp -text
src/Interfaces/BonTMINLP.cpp -text
src/Interfaces/BonTMINLP2OsiLP.cpp -text
src/Interfaces/BonTMINLP2OsiLP.hpp -text
src/Interfaces/BonTNLPSolver.cpp -text
src/Interfaces/BonTNLPSolver.hpp -text
src/Interfaces/BonTypes.hpp -text
src/Interfaces/Filter/BonBqpdSolver.cpp -text
src/Interfaces/Filter/BonBqpdSolver.hpp -text
src/Interfaces/Filter/BonBqpdWarmStart.cpp -text
src/Interfaces/Filter/BonBqpdWarmStart.hpp -text
src/Interfaces/Filter/BonFilterSolver.cpp -text
src/Interfaces/Filter/BonFilterSolver.hpp -text
src/Interfaces/Filter/BonFilterTypes.hpp -text
src/Interfaces/Filter/BonFilterWarmStart.cpp -text
src/Interfaces/Filter/BonFilterWarmStart.hpp -text
src/Interfaces/Filter/Makefile.am -text
src/Interfaces/Filter/Makefile.in -text
src/Interfaces/Ipopt/BonIpoptSolver.cpp -text
src/Interfaces/Ipopt/BonIpoptSolver.hpp -text
src/Interfaces/Ipopt/Makefile.am -text
src/Interfaces/Ipopt/Makefile.in -text
src/Interfaces/config.h.in -text
src/Interfaces/config_bonmin.h.in -text
src/Interfaces/config_bonmin_default.h -text
src/Interfaces/config_default.h -text
test/bonmin.opt -text
test/mytoy.nl -text
test/toy.mps.gz -text svneol=unset#application/x-gzip
