* text=auto !eol
Bonmin/AUTHORS -text
Bonmin/INSTALL -text
Bonmin/LICENSE -text
Bonmin/README -text
Bonmin/configure -text
Bonmin/examples/CppExample/Mybonmin.opt -text
Bonmin/examples/OptionDocGen/DocGen.cpp -text
Bonmin/examples/OptionDocGen/Makefile.in -text
Bonmin/examples/OptionDocGen/MyTMINLP.cpp -text
Bonmin/examples/OptionDocGen/MyTMINLP.hpp -text
Bonmin/examples/amplExamples/toy.mod -text
Bonmin/experimental/Bcp/BM.par -text
Bonmin/experimental/Bcp/BM_lp.cpp -text
Bonmin/experimental/Bcp/BM_lp_branch.cpp -text
Bonmin/experimental/Bcp/BM_tm.cpp -text
Bonmin/experimental/Bcp/ampl_bcp.patch -text
Bonmin/experimental/NotConvex/BonCouenne.cpp -text
Bonmin/experimental/NotConvex/BonCouenneInfo.cpp -text
Bonmin/experimental/NotConvex/BonCouenneInfo.hpp -text
Bonmin/experimental/NotConvex/BonCouenneInterface.cpp -text
Bonmin/experimental/NotConvex/BonCouenneInterface.hpp -text
Bonmin/experimental/NotConvex/BonCouenneSetup.cpp -text
Bonmin/experimental/NotConvex/BonCouenneSetup.hpp -text
Bonmin/experimental/NotConvex/BonInitHeuristic.cpp -text
Bonmin/experimental/NotConvex/BonInitHeuristic.hpp -text
Bonmin/experimental/NotConvex/BonNlpHeuristic.cpp -text
Bonmin/experimental/NotConvex/BonNlpHeuristic.hpp -text
Bonmin/experimental/NotConvex/CouTight.cpp -text
Bonmin/experimental/NotConvex/Makefile.am -text
Bonmin/experimental/NotConvex/Makefile.in -text
Bonmin/inc/config_bonmin.h.in -text
Bonmin/src/Algorithms/Ampl/BonAmplSetup.cpp -text
Bonmin/src/Algorithms/Ampl/BonAmplSetup.hpp -text
Bonmin/src/Algorithms/Ampl/Makefile.am -text
Bonmin/src/Algorithms/Ampl/Makefile.in -text
Bonmin/src/Algorithms/BonBabSetupBase.cpp -text
Bonmin/src/Algorithms/BonBabSetupBase.hpp -text
Bonmin/src/Algorithms/BonBonminSetup.cpp -text
Bonmin/src/Algorithms/BonBonminSetup.hpp -text
Bonmin/src/Algorithms/Branching/BonChooseVariable.cpp -text
Bonmin/src/Algorithms/Branching/BonChooseVariable.hpp -text
Bonmin/src/Algorithms/Branching/BonCurvBranchingSolver.cpp -text
Bonmin/src/Algorithms/Branching/BonCurvBranchingSolver.hpp -text
Bonmin/src/Algorithms/Branching/BonLpBranchingSolver.cpp -text
Bonmin/src/Algorithms/Branching/BonLpBranchingSolver.hpp -text
Bonmin/src/Algorithms/Branching/BonPseudoCosts.cpp -text
Bonmin/src/Algorithms/Branching/BonPseudoCosts.hpp -text
Bonmin/src/Algorithms/Branching/BonQpBranchingSolver.cpp -text
Bonmin/src/Algorithms/Branching/BonQpBranchingSolver.hpp -text
Bonmin/src/Algorithms/Branching/BonRandomChoice.cpp -text
Bonmin/src/Algorithms/Branching/BonRandomChoice.hpp -text
Bonmin/src/Algorithms/Branching/Makefile.am -text
Bonmin/src/Algorithms/Branching/Makefile.in -text
Bonmin/src/Algorithms/Makefile.am -text
Bonmin/src/Algorithms/Makefile.in -text
Bonmin/src/Algorithms/OaGenerators/BonCbcLpStrategy.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonCbcLpStrategy.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonDummyHeuristic.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonDummyHeuristic.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonEcpCuts.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonEcpCuts.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonFpForMinlp.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonFpForMinlp.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonOACutGenerator2.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonOACutGenerator2.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonOAMessages.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonOAMessages.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaDecBase.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaDecBase.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaFeasChecker.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaFeasChecker.hpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaNlpOptim.cpp -text
Bonmin/src/Algorithms/OaGenerators/BonOaNlpOptim.hpp -text
Bonmin/src/Algorithms/OaGenerators/Makefile.am -text
Bonmin/src/Algorithms/OaGenerators/Makefile.in -text
Bonmin/src/Algorithms/QuadCuts/BonArraysHelpers.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonLinearCutsGenerator.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonLinearCutsGenerator.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonOuterApprox.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonOuterApprox.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonQuadCut.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonQuadCut.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonQuadRow.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonQuadRow.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonTMINLP2Quad.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonTMINLP2Quad.hpp -text
Bonmin/src/Algorithms/QuadCuts/BonTMatrix.cpp -text
Bonmin/src/Algorithms/QuadCuts/BonTMatrix.hpp -text
Bonmin/src/Algorithms/QuadCuts/Makefile.am -text
Bonmin/src/Algorithms/QuadCuts/Makefile.in -text
Bonmin/src/Algorithms/QuadCuts/next -text
Bonmin/src/CbcBonmin/BonBabInfos.cpp -text
Bonmin/src/CbcBonmin/BonBabInfos.hpp -text
Bonmin/src/CbcBonmin/BonCbc.cpp -text
Bonmin/src/CbcBonmin/BonCbc.hpp -text
Bonmin/src/CbcBonmin/BonDiver.cpp -text
Bonmin/src/CbcBonmin/BonDiver.hpp -text
Bonmin/src/CbcBonmin/BonGuessHeuristic.cpp -text
Bonmin/src/CbcBonmin/BonGuessHeuristic.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonDummyPump.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonDummyPump.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonFixAndSolveHeuristic.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonFixAndSolveHeuristic.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDive.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDive.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveFractional.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveFractional.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIP.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIP.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIPFractional.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIPFractional.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIPVectorLength.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveMIPVectorLength.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveVectorLength.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicDiveVectorLength.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicFPump.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicFPump.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicLocalBranching.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicLocalBranching.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicRINS.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonHeuristicRINS.hpp -text
Bonmin/src/CbcBonmin/Heuristics/BonLocalSolverBasedHeuristic.cpp -text
Bonmin/src/CbcBonmin/Heuristics/BonLocalSolverBasedHeuristic.hpp -text
Bonmin/src/CbcBonmin/Heuristics/Makefile.am -text
Bonmin/src/CbcBonmin/Heuristics/Makefile.in -text
Bonmin/src/Interfaces/Ampl/Makefile.in -text
Bonmin/src/Interfaces/BonAuxInfos.cpp -text
Bonmin/src/Interfaces/BonAuxInfos.hpp -text
Bonmin/src/Interfaces/BonExitCodes.hpp -text
Bonmin/src/Interfaces/BonMsgUtils.hpp -text
Bonmin/src/Interfaces/BonOsiTMINLPInterface.cpp -text
Bonmin/src/Interfaces/BonOsiTMINLPInterface.hpp -text
Bonmin/src/Interfaces/BonRegisteredOptions.cpp -text
Bonmin/src/Interfaces/BonRegisteredOptions.hpp -text
Bonmin/src/Interfaces/BonStrongBranchingSolver.cpp -text
Bonmin/src/Interfaces/BonStrongBranchingSolver.hpp -text
Bonmin/src/Interfaces/BonTMINLP.cpp -text
Bonmin/src/Interfaces/BonTNLPSolver.cpp -text
Bonmin/src/Interfaces/BonTNLPSolver.hpp -text
Bonmin/src/Interfaces/BonTypes.hpp -text
Bonmin/src/Interfaces/Filter/BonBqpdSolver.cpp -text
Bonmin/src/Interfaces/Filter/BonBqpdSolver.hpp -text
Bonmin/src/Interfaces/Filter/BonBqpdWarmStart.cpp -text
Bonmin/src/Interfaces/Filter/BonBqpdWarmStart.hpp -text
Bonmin/src/Interfaces/Filter/BonFilterSolver.cpp -text
Bonmin/src/Interfaces/Filter/BonFilterSolver.hpp -text
Bonmin/src/Interfaces/Filter/BonFilterTypes.hpp -text
Bonmin/src/Interfaces/Filter/BonFilterWarmStart.cpp -text
Bonmin/src/Interfaces/Filter/BonFilterWarmStart.hpp -text
Bonmin/src/Interfaces/Filter/Makefile.am -text
Bonmin/src/Interfaces/Filter/Makefile.in -text
Bonmin/src/Interfaces/Ipopt/BonIpoptSolver.cpp -text
Bonmin/src/Interfaces/Ipopt/BonIpoptSolver.hpp -text
Bonmin/src/Interfaces/Ipopt/Makefile.am -text
Bonmin/src/Interfaces/Ipopt/Makefile.in -text
Bonmin/test/bonmin.opt -text
Bonmin/test/mytoy.nl -text
Bonmin/test/toy.mps.gz -text svneol=unset#application/x-gzip
/INSTALL -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
doxydoc/doxygen.conf -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
