* text=auto !eol
Bonmin/AUTHORS -text
Bonmin/INSTALL -text
Bonmin/LICENSE -text
Bonmin/README -text
Bonmin/configure -text
Bonmin/doc/BONMIN_UsersManual.pdf -text
Bonmin/doc/BONMIN_UsersManual.tex -text
Bonmin/doc/BOUM_Install.tex -text
Bonmin/doc/BOUM_Intro.tex -text
Bonmin/doc/BOUM_Obtain.tex -text
Bonmin/doc/BOUM_options.tex -text
Bonmin/doc/BOUM_use.tex -text
Bonmin/doc/Head.tex -text
Bonmin/doc/bonmin.css -text
Bonmin/doc/bonmin.sty -text
Bonmin/doc/options.tex -text
Bonmin/examples/amplExamples/toy.mod -text
Bonmin/experimental/Bcp/BM.par -text
Bonmin/experimental/Bcp/BM_lp.cpp -text
Bonmin/experimental/Bcp/BM_lp_branch.cpp -text
Bonmin/experimental/Bcp/BM_tm.cpp -text
Bonmin/experimental/Bcp/ampl_bcp.patch -text
Bonmin/experimental/NotConvex/BonCouenne.cpp -text
Bonmin/experimental/NotConvex/BonCouenneInterface.cpp -text
Bonmin/experimental/NotConvex/BonCouenneInterface.hpp -text
Bonmin/experimental/NotConvex/Makefile.am -text
Bonmin/experimental/NotConvex/Makefile.in -text
Bonmin/experimental/NotConvex/PietrosFirstFileInCoin -text
Bonmin/inc/config_bonmin.h.in -text
Bonmin/src/Interfaces/Ampl/Makefile.in -text
Bonmin/src/Interfaces/BonOsiTMINLPInterface.cpp -text
Bonmin/src/Interfaces/BonOsiTMINLPInterface.hpp -text
Bonmin/src/Interfaces/BonTMINLP.cpp -text
Bonmin/src/Interfaces/BonTNLPSolver.cpp -text
Bonmin/src/Interfaces/BonTNLPSolver.hpp -text
Bonmin/src/Interfaces/Filter/BonFilterSolver.cpp -text
Bonmin/src/Interfaces/Filter/BonFilterSolver.hpp -text
Bonmin/src/Interfaces/Filter/BonFilterWarmStart.cpp -text
Bonmin/src/Interfaces/Filter/BonFilterWarmStart.hpp -text
Bonmin/src/Interfaces/Filter/Makefile.am -text
Bonmin/src/Interfaces/Filter/Makefile.in -text
Bonmin/src/Interfaces/Ipopt/BonIpoptSolver.cpp -text
Bonmin/src/Interfaces/Ipopt/BonIpoptSolver.hpp -text
Bonmin/src/Interfaces/Ipopt/Makefile.am -text
Bonmin/src/Interfaces/Ipopt/Makefile.in -text
Bonmin/src/OaAlgorithms/BonFpForMinlp.cpp -text
Bonmin/src/OaAlgorithms/BonFpForMinlp.hpp -text
Bonmin/test/bonmin.opt -text
Bonmin/test/mytoy.nl -text
Bonmin/test/toy.mps.gz -text svneol=unset#application/x-gzip
/INSTALL -text
/LICENSE -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
