language: cpp

matrix:
  include:
  - os: linux
    addons:
      apt:
        packages:
        - gfortran
  - os: osx
    osx_image: xcode10
    env: OSX=10.13
    compiler: clang
  - os: osx
    osx_image: xcode9.2
    env: OSX=10.12
    compiler: clang
  - os: osx
    osx_image: xcode8
    env: OSX=10.11
    compiler: clang
  allow_failures:
  - os: osx

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then  export PLATFORM=osx$OSX-x86_64-clang`clang -dumpversion`; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; brew install bash gcc; brew link --overwrite gcc; gfortran --version; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PLATFORM=linux-x86_64-gcc`gcc -dumpversion`; fi
  - cd ..
  - wget https://raw.githubusercontent.com/coin-or/coinbrew/master/coinbrew
  - export PROJECT_URL=https://github.com/$TRAVIS_REPO_SLUG
  - export PROJECT=`echo $TRAVIS_REPO_SLUG | cut -d "/" -f 2`
  - bash ./coinbrew fetch $PROJECT_URL:$TRAVIS_BRANCH --no-prompt --skip-update > /dev/null

script:
  - bash ./coinbrew build $PROJECT --no-prompt --verbosity=2 --test
